
.container {
  margin: auto;
  max-width: 600px;
  padding: 20px;
  text-align: center;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  background-color: peachpuff;
  color: white;
}

.name {
  color: royalblue;
  text-align: center;
}

.text-danger {
  color: red;
}

.input {
  margin-bottom: 20px;
  background-color: burlywood;
}

.joke {
  color: navy;
  font-style: normal;
  padding: 8px;
}

.yed {
  color: darkslategray;
}

.homeContainer {
  margin-top: 20px;
  color: black;
  text-align: start;
  border-radius: 20%;
}

.form-group {
  margin-bottom: 20px;
}

.btn {
  margin-top: 20px;
}

td {
  border: 3px solid black;
  padding: 8px;
}

.span {
  color: bisque;
  text-align: end;
}

.table {
  margin-top: 20px;
}

.header {
  margin-bottom: auto;
  text-decoration: blink;
  color: skyblue;
}

.loginContainer {
  margin-bottom: 20px;
  background-color: grey;
  border-top-right-radius: 20px;
}


@media (max-width: 767px) {
  .container {
    padding: 10px;
    font-size: 14px;
  }
  
  .name {
    font-size: 18px;
  }

 
}

