
.container {
  margin: auto;
  max-width: 600px;
  padding: 20px;
  text-align: center;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  background-color: peachpuff;
  color: white;
}

.name {
  color: royalblue;
  text-align: center;
}

.text-danger {
  color: red;
}

.input {
  width: 100%;
  padding: 10px;
  margin: 10px;
  border: 1px solid #ced4da;
  border-radius: 10px;
  box-sizing: border-box;
}

.form-group {
  margin-bottom: 20px;
}


.form-label {
  font-weight: bold;
}




/* App.css */

/* Styles for the 'My Joke' table header */
.yed {
  font-weight: bold;
  color: #007bff;
  text-align:center; /* Adjust font color as needed */
  /* Add more styles as needed */
}


/* .yed {
  color: darkslategray;
} */

.homeContainer {
  margin-top: 20px;
  color: black;
  text-align: start;
 
  overflow-y: auto; /* Add this property to enable vertical scrolling */
  max-height: calc(100vh - 120px); /* Set maximum height to prevent overflow */
}


.form-group {
  margin-bottom: 20px;
}

/* App.css */

/* Styles for the button */
.button {
  background-color: #007bff;
  color: #fff;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
  font-weight: bold;
  
  border-radius: 10px;
}

.button:hover {
  background-color: #0056b3;
}

.button:disabled {
  background-color: #6c757d;
  cursor: not-allowed;
}


td {
  border: 2px solid grey;
  padding: 8px;
}

.span {
  color: bisque;
  text-align: end;
}

.table {
  margin-top: 20px;
  text-align:left;
}

.header {
  margin-bottom: 10px; /* Adjust the margin to your preference */
  text-decoration: blink;
  color: rgb(211, 111, 24);
}
.ted{
  color: white;
}
.loginContainer {
  width: 100%;
  
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center; /* Align items to the top */
  flex-direction: column;
  background-color: grey;
  border-top-right-radius: 20px;
}
.dummy{
  background-color: #6c757d;
  color:white;
  border-radius: 20px;
  padding: 3px;
  margin-top:10px;
}

.loginContainer .header {
  text-align: center;
  margin-bottom: 20px;
  font-size: 24px; /* Adjust font size as needed */
  color:peachpuff;/* Adjust font color as needed */
}



@media (max-width: 767px) {
  .container {
    padding: 10px;
    font-size: 14px;
  }
  
  .name {
    font-size: 18px;
  }

 
}
.loader-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 200px; /* Adjust the height based on your design */
}

/* Adjust loader styles as needed */
.react-spinner_loader {
  margin: auto;
}


